<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>제품 수정</title>
</head>
<body>
<h1>제품 수정</h1>

<form th:action="@{/product/sujungProc}" method="post">

    <input type="hidden" name="id" th:value="${product.id}">
    <input type="hidden" name="keyword" th:value="${keyword}"><!-- ★ 검색어 유지 -->
    <input type="hidden" name="page" th:value="${page}">
    <input type="hidden" name="size" th:value="${size}">

    작성자 :<input type="text" name="writer" th:value="${product.writer}"><br>
    제품이름: <input type="text" name="title" th:value="${product.title}"><br>
    제품가격: <input type="text" name="price" th:value="${product.price}"><br>
    제품설명: <textarea name="content" th:text="${product.content}"></textarea><br>
    <button type="submit">수정</button>
</form>


<a th:href="@{/product/view/{id}(id=${product.id}, page=${page}, size=${size}, keyword=${keyword})}">취소</a>

</body>
</html>
