<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>글 수정</title>
</head>
<body>
<h1>글 수정</h1>

<form th:action="@{/board/sujungProc}" method="post">
  <input type="hidden" name="id" th:value="${board.id}">
  <input type="hidden" name="keyword" th:value="${keyword}"><!-- ★ 검색어 유지 -->
  <input type="hidden" name="page" th:value="${page}">
  <input type="hidden" name="size" th:value="${size}">



  제목: <input type="text" name="title" th:value="${board.title}"><br>
  작성자: <input type="text" name="writer" th:value="${board.writer}"><br>
  내용: <textarea name="content" th:text="${board.content}"></textarea><br>
  <button type="submit">수정</button>
</form>


<a th:href="@{/board/view/{id}(id=${board.id}, page=${page}, size=${size}, keyword=${keyword})}">취소</a>

</body>
</html>
